// Colors
$base-color: white;
$bg-color: #f3f9f9;
$text-color: #556464;

// Breakpoints
$screen-sm: 481px;
$screen-md: 769px;
$screen-lg: 1025px;
$screen-xl: 1201px;

@mixin sm {
  @media (min-width: $screen-sm) {
    @content;
  }
}

@mixin md {
  @media (min-width: $screen-md) {
    @content;
  }
}

@mixin lg {
  @media (min-width: $screen-lg) {
    @content;
  }
}

@mixin xl {
  @media (min-width: $screen-xl) {
    @content;
  }
}

@mixin container {
    word-break: break-all;
    width: calc(100% - 3rem);
    max-width: 1600px;
    @include md {
      width: calc(100% - 6rem);
    }
}

@mixin article {
  word-break: break-all;
  width: calc(100% - 4rem);
  max-width: 800px;
  @include md {
    width: calc(100% - 6rem);
  }
}

@mixin page {
  width: 100%;
  gap: 2rem;
  padding: calc(3rem + 2rem) 0;
  @include md {
    padding: calc(4rem + 2rem) 0;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
}


:export {
  screenMd: $screen-md
}