// Colors
$color-base: #221148;
$color-base-dark: #003354;
$color-base-light: #412b97;
$color-base-lightest: #6587d3;
$color-base-tint: hsla(259, 62%, 17%, 0.05);

$color-base-contrast: white;
$color-base-dark-contrast: white;
$color-base-light-contrast: white;

$color-secondary: #a5b4b4;
$color-secondary-contrast: white;
// $secondary-color-light: #1C6EA4;

$color-disabled: #f5efef;
$color-disabled-dark: #bebebe;

$color-danger: #b33131;
$color-danger-tint: hsla(0, 75%, 87%, 0.1);
$color-danger-contrast: white;

$color-success: rgb(26, 201, 26);

$color-bg: #faf9fb;
$color-text: #89868d;


$boxShadow-base-light: 1px 1px 2px 0px rgb(0 0 0 / 5%);
$boxShadow-base: 1px 1px 4px 0px rgb(0 0 0 / 15%);

// $color-bg: #f3f6fa;
// $color-text: #556464;

// // sizes
// $size-1: 8px;
// $size-2: 16px;
// $size-3: 24px;
// $size-4: 32px;
// $size-5: 40px;
// $size-6: 48px;
// $size-7: 56px;
// $size-8: 64px;
// $size-9: 72px;
// $size-10: 80px;